@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Work+Sans:wght@300;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #52493f; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  outline: 0; }

header {
  width: 100%;
  background: #f6f5f3; }
  header .inner {
    width: 1200px;
    height: 100px;
    margin: 0px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .inner h1 a {
      font: bold 24px/1 "arial";
      color: #333; }
    header .inner #gnb {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
      header .inner #gnb li {
        float: left; }
        header .inner #gnb li a {
          display: inline-block;
          padding: 22px 30px;
          font: 14px/1 "arial";
          color: #333; }
    header .inner #util {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%); }
      header .inner #util li {
        float: left; }
        header .inner #util li a {
          display: inline-block;
          padding: 22px 30px;
          font: 14px/1 "arial";
          color: #333; }

main {
  width: 100%;
  padding: 80px 0; }
  main .inner {
    width: 100%; }

footer {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 50px 0px; }
  footer .inner {
    width: 1180px;
    margin: 0px auto; }

#visual {
  width: 100%;
  height: 500px;
  background: #333; }
  #visual img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.product {
  background: #262615; }
  .product .inner h1 {
    display: none; }
  .product .inner > section::after {
    content: '';
    display: block;
    clear: both; }
  .product .inner > section article {
    width: 25%;
    float: left;
    padding: 10px; }
    .product .inner > section article > .inner {
      width: 100%;
      height: 100%;
      padding-bottom: 30px; }
      .product .inner > section article > .inner .pic {
        width: 100%;
        height: 180px;
        margin-bottom: 15px; }
        .product .inner > section article > .inner .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .product .inner > section article > .inner span {
        display: block;
        font: 13px/1 'arial';
        color: #fff;
        margin-bottom: 10px; }
      .product .inner > section article > .inner h2 {
        font: 15px/1.5 'arial';
        color: #fff;
        margin-bottom: 10px; }
      .product .inner > section article > .inner p {
        font: 13px/1.5 'arial'; }
  .product .pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 5vw; }
    .product .pop img {
      width: 100%;
      height: 90%;
      margin-bottom: 15px;
      object-fit: contain; }
    .product .pop p {
      font: 14px/1.2 'arial';
      color: #fff;
      text-align: center; }
    .product .pop span {
      font: bold 14px/1 'arial';
      color: #fff;
      position: absolute;
      top: 3vw;
      right: 5vw; }

.guide {
  padding-top: 150px;
  background: #f6f5f3; }
  .guide .inner {
    width: 100%; }
    .guide .inner h1 {
      font: bold 35px/1 'DM Sans';
      color: #52493f;
      text-align: center;
      margin-bottom: 30px; }
    .guide .inner p {
      font: 24px/1 'DM Sans';
      color: #52493f;
      text-align: center;
      margin-bottom: 150px; }
    .guide .inner #instruction_first_section {
      width: 100%;
      background: #262613;
      padding: 5%; }
      .guide .inner #instruction_first_section .inner {
        width: 100%;
        height: 80vh;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .guide .inner #instruction_first_section .inner .pic {
          width: 40%;
          height: 100%; }
          .guide .inner #instruction_first_section .inner .pic img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .guide .inner #instruction_first_section .inner .txt {
          width: 60%;
          padding: 140px;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .guide .inner #instruction_first_section .inner .txt h2 {
            font: bold 32px/1 'DM Sans';
            color: #fff;
            margin-bottom: 30px;
            letter-spacing: 1px; }
          .guide .inner #instruction_first_section .inner .txt p {
            font: 15px/1.5 'DM Sans';
            color: #fff;
            margin-bottom: 30px;
            text-align: left; }
          .guide .inner #instruction_first_section .inner .txt a {
            display: inline-block;
            border: none;
            border-radius: 2px;
            background: #fff;
            width: 100px;
            height: 38px;
            font: 14px/38px 'arial';
            text-align: center; }
    .guide .inner #instructions_section {
      width: 100%; }
      .guide .inner #instructions_section article {
        width: 100%;
        padding: 5%; }
        .guide .inner #instructions_section article .inner {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap; }
          .guide .inner #instructions_section article .inner .txt {
            width: 50%;
            border-top: 1px solid #262613;
            padding: 30px 50px 0 0; }
            .guide .inner #instructions_section article .inner .txt h2 {
              font: bold 32px/1 'arial';
              color: #52493f;
              margin-bottom: 50px; }
            .guide .inner #instructions_section article .inner .txt .wrapper {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              justify-content: space-between; }
              .guide .inner #instructions_section article .inner .txt .wrapper .con {
                width: 45%; }
                .guide .inner #instructions_section article .inner .txt .wrapper .con h3 {
                  width: 100%;
                  font: bold 15px/1 'arial';
                  color: #52493f;
                  margin-bottom: 15px; }
                .guide .inner #instructions_section article .inner .txt .wrapper .con p {
                  font: 15px/1.5 'arial';
                  color: #52493f;
                  margin-bottom: 15px;
                  text-align: left; }
                .guide .inner #instructions_section article .inner .txt .wrapper .con a {
                  display: inline-block;
                  border: none;
                  border-radius: 2px;
                  background: #fff;
                  width: 100px;
                  height: 38px;
                  font: 14px/38px 'arial';
                  text-align: center; }
          .guide .inner #instructions_section article .inner .pic {
            width: 40%; }
            .guide .inner #instructions_section article .inner .pic img {
              width: 100%;
              height: 480px;
              object-fit: cover; }
        .guide .inner #instructions_section article:nth-of-type(2) .inner .txt {
          order: 1; }
    .guide .inner .pop {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      padding: 5vw; }
      .guide .inner .pop iframe {
        border: none;
        width: 100%;
        height: 100%; }
      .guide .inner .pop span {
        position: absolute;
        top: 3vw;
        right: 5vw;
        font: bold 14px/1 'arial';
        color: #fff;
        cursor: pointer; }

/*# sourceMappingURL=style.css.map */
